.container{
  height:100vh;
}

.hero
{
    width: 100vw;
    position: relative;
    height: 100%;
    font-size: var(--font-size-78xl-4);
    color: var(--color-white);
    font-family: var(--font-neue-machina);

    display:flex;
    flex-wrap:wrap;
}

.audio
{
    height:20rem;
    font-family:var(--font-neue-machina);
    width:100%;
}

.audioText
{
    font-size: 10rem;
}

.visual
{
    text-align: right;
    width:100%;
}

.visualText
{
    font-size:10rem;
}

.rectangleIcon

.rectangleIcon{
 display:flex;
 justify-content: center;
 align-items: center;
 height:200vh;
 margin-left: 10vh;
margin-top: 10vh;
 animation : pulse 0.8s infinite ease-out;
}

.desktop1Child,
.desktop1Item {
  position: absolute;
  top: 546.5px;
  left: -90.7px;
  width: 412.2px;
  height: 450.3px;
  object-fit: cover;
  user-select: none;
}
.desktop1Item {
  top: -10px;
  left: 984px;
  width: 631.4px;
  height: 596.6px;
  object-fit: contain;
}
.desktop1Inner,
.rectangleDiv {
  position: absolute;
  top: 136px;
  left: 1384px;
  background: linear-gradient(
    180deg,
    rgba(255, 66, 66, 0.97),
    rgba(66, 45, 200, 0.6)
  );
  width: 39px;
  height: 437px;
}
.rectangleDiv {
  top: 502px;
  left: 18px;
  width: 44px;
  height: 471px;
}
.image1Icon {
  position: absolute;
  top: 389px;
  left: 481px;
  width: 477px;
  height: 437.8px;
  object-fit: cover;
  display: none;
}
.div {
  position: absolute;
  top: 212px;
  left: 974px;
  font-size: 165.4px;
  display: inline-block;
  width: 84px;
  height: 67px;
  user-select: none;
}
.contact,
.text,
.text1 {
  position: absolute;
  font-weight: 100;
  font-family: var(--font-helvetica-now-display);
  text-decoration: none;
}
.contact {
  top: -70px;
  left: 1204px;
  font-size: 84.4px;
  text-decoration: none;
    text-decoration: none;
}
.contact>p{
  text-decoration:none;
  color :white
}
.text,
.text1 {
  top: 0;
  left: 1098px;
}
.text1 {
  top: 246px;
  left: 1124px;
}
.groupChild,
.groupInner,
.groupItem {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 131px;
  height: 9.4px;
}
.groupInner,
.groupItem {
  top: 15.5px;
}
.groupInner {
  top: 31px;
}
.rectangleParent {
  position: absolute;
  top: 51px;
  left: 50px;
  width: 131px;
  height: 40.4px;
}




@keyframes pulse {
	0% {
		transform: scale(1.2);
	}

	60% {
		transform: scale(1.1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(1.2);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes slideLeft{
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(0%);
  }
}

@keyframes slideRight{
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0%);
  }

}

@keyframes slideUp {
  0% {
      transform: translateY(100%);
  }
  100% {
      transform: translateY(0%);
  }
}